.container-fluid
  .row
    .col-md-4
      %h3= t('.new_user')
      = form_for (user) do |f|
        - if user.errors.any?
          #error_explanation
            %h2= pluralize(user.errors.count, "error")
            prohibited this user from being saved:

            %ul
            - user.errors.full_messages.each do |message|
              %li= message

        .field
          = f.label t('.name')
          = f.text_field :name, class: 'form-control', placeholder: t('.name')

        .field
          = f.label t('.age')
          = f.number_field :age, class: 'form-control', placeholder: t('.age')

        .field
          = f.label 'email'
          = f.email_field :email, class: 'form-control', placeholder: 'email'

        .field
          = f.label 'password'
          = f.password_field :password, class: 'form-control', placeholder: 'password'

        .field
          = f.label :avatar
          = f.file_field :avatar

        .actions
          %br

          %p= submit_tag t('.save'), class: 'btn btn-success'

          %p= link_to t('.back'), users_path, class: 'btn btn-default'
