.container-fluid
  .row
    .col-md-4
      %h1= t('.new_user')
      = form_for(user) do |f|
        - if user.errors.any?
          #error_explanation
            %h2= pluralize(user.errors.count, "error")
            prohibited this user from being saved:

            %ul
            - user.errors.full_messages.each do |message|
              %li= message

        .field
          = label_tag t('.name')
          %input.form-control{:placeholder => t('.name'), :type => 'text', :name => 'name'}

        .field
          = label_tag t('.age')
          %input.form-control{placeholder: t('.age'), type: 'integer', name: 'age'}

        .actions
          %br

          %p= submit_tag t('.save'), class: 'btn btn-success'

          %p= link_to t('.back'), users_path, class: 'btn btn-default'
