%p{id:"notice"}= notice

.container
  .panel.panel-default
    .panel-heading
      %h3= t('.cart')
    %table.table
      %thead
        %tr
          %th= t('.name')
          %th= t('.price')
          %th= t('.description')

      %tbody
        - @products.each do |product|
          %tr
            %td= product.name
            %td= product.price
            %td= product.description
            %td= link_to t('.destroy'), cart_path(cart_id: @cart.id, product_id: product.id), method: :delete, class: 'btn btn-danger'



  %br
    %td= link_to t('.back'), products_path, class: 'btn btn-default'