#exampleModal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header

        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Order Form

      .modal-body

        = form_tag order_cart_path do

          .form-group
            = label_tag 'Email'
            = email_field 'user_email', nil, placeholder: 'Email address', type: :email, class: 'form-control'

          .form-group
            = label_tag 'Add your comment:'
            = text_field 'comment', nil, class: 'form-control', placeholder: 'comment', type: 'text'

          = submit_tag 'Order', class: 'btn btn-primary'

