#exampleModal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header

        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title= t('.order_form')

      .modal-body

        = form_tag order_cart_path do

          .form-group
            = label_tag= t('.email')
            = email_field 'user_email', nil, placeholder: t('.email'), type: :email, class: 'form-control', required: ''

          .form-group
            = label_tag = t('.comment')
            = text_field 'comment', nil, class: 'form-control', placeholder: t('.comment'), type: 'text'

          = submit_tag t('.order'), class: 'btn btn-primary'