%p{id:"notice"}= notice

.container-fluid
  .panel.panel-default
    .panel-heading Cart
    %table.table
      %thead
        %tr
          %th #
          %th Name
          %th Price
          %th Description

      %tbody
        - @cart.each do |product|
          %tr
            %td
            %td= product.name
            %td= product.price
            %td= product.description
            %td= link_to 'Destroy', cart_path, method: :delete, class: 'btn btn-danger'

  %br
    %td= link_to '<- Back', products_path, class: 'btn btn-default'


