%p{id:"notice"}= notice

.panel.panel-default
  .panel-heading Cart
  %table.table
    %thead
      %tr
        %th #
        %th Name
        %th Price
        %th Description

    %tbody
      - @cart.each do |product|
        %tr
          %td
          %td= product.name
          %td= product.price
          %td= product.description

%br
  %td= link_to '<- Back', products_path, class: 'btn btn-default'


