.container-fluid
  .row
    .col-md-4
      %h3= t('.new_product')
      = form_for(product) do |f|
        - if product.errors.any?
          #error_explanation
            %h2= pluralize(product.errors.count, "error")
            prohibited this product from being saved:

            %ul
            - product.errors.full_messages.each do |message|
              %li= message

        = label_tag t('.name')
        %input.form-control{:placeholder => t('.name'), :type => 'text', :name => 'name'}

        %br
        = label_tag t('.price')
        %input.form-control{placeholder: t('.price'), type: 'integer', name: 'price'}

        %br
        = label_tag t('.description')
        %input.form-control{:placeholder => t('.description'), :type => 'text', :name => 'description'}

        %br

        %p= submit_tag t('.save'), class: 'btn btn-success'

        %p= link_to t('.back'), products_path, class: 'btn btn-default'