.container-fluid
  .row
    .col-md-4
      = form_tag '/products' do

        %h1= t('.new_product')

        = label_tag t('.name')
        %input.form-control{:placeholder => t('.name'), :type => 'text', :name => 'name'}

        %br
        = label_tag t('.price')
        %input.form-control{placeholder: t('.price'), type: 'integer', name: 'price'}

        %br
        = label_tag t('.description')
        %input.form-control{:placeholder => t('.description'), :type => 'text', :name => 'description'}

        %br

        %p= submit_tag t('.save'), class: 'btn btn-success'

        %p= link_to t('.back'), products_path, class: 'btn btn-default'