%h1 New Product

.container-fluid
    .row
        .col-sm-6
            = form_tag '/products' do
                = label_tag :name
                %input.form-control{:placeholder => 'Name', :type => 'text'}

                = label_tag :price
                %input.form-control{:placeholder => 'Price', :type => 'integer'}

                = label_tag :description
                %input.form-control{:placeholder => 'Description', :type => 'text'}

                %br

                %p= submit_tag 'Save!!!', class: 'btn btn-success'

                %p= link_to '<- Back', products_path, class: 'btn btn-default'




