%h1 New Product

= link_to 'Back', products_path

= form_tag '/products' do
    = label_tag :name
    %input.form-control{:placeholder => 'Name', :type => 'Name'}

    = label_tag :price
    %input.form-control{:placeholder => 'Price', :type => 'Prise'}

    = label_tag :description
    %input.form-control{:placeholder => 'Description', :type => "text"}

    = submit_tag 'Save!!!', class: 'btn btn-success'



