%p{id:"notice"}= notice

.container-fluid
  .panel.panel-default
    .panel-heading Product Description
    %table.table
      %thead
        %tr
          %th #
          %th Name
          %th Price
          %th Description

      %tbody
        %tr
          %td
          %td= @product.name
          %td= @product.description
          %td= @product.price
          %td= link_to 'Destroy', @product, method: :delete, class: 'btn btn-danger'

  %td= link_to '<-Back', products_path, class: 'btn btn-default'


