%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Ishop
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .header
      .row
        %div.col-md-1.text-center= link_to image_tag('ishop.png'), products_path
        %div.col-md-1.text-center= link_to image_tag('products_2.png'), products_path
        %div.col-md-1.text-center= link_to image_tag('users-3.png'), users_path
        %div.col-md-2.pull-right.text-right
          = link_to image_tag('cart_2.png'), cart_path
          =render 'layouts/count'


    = render 'layouts/flash'

    = yield

    .footer
      .row
        %div.col-md-2
          = render 'layouts/lang'






