<!DOCTYPE html>
<html>
  <head>
    <title>Ishop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = 'container'>
      <%= link_to image_tag('cart.png', size: '70x70'), cart_path  %>
      <%= link_to 'EN', '?locale=en' %>
      <%= link_to 'UA', '?locale=ua' %>
      <%= yield %>
    </div>
  </body>
</html>
