%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Ishop
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .header
      %dt.col-md-8.h1 Ishop
      %a.btn.btn-default{:href => "/products"} Products
      %a.btn.btn-default{:href => "/users"} Users
      = render 'layouts/lang'
      = link_to image_tag('cart.png', size: '85x85'), cart_path

    = render 'layouts/flash'



  = yield